.App {
  text-align: center;
}
.nav-styles{
  padding : 12px;
  width : 100%;
  background-color: rgb(84, 231, 226);
  display: flex;
  justify-content: flex-start;
  gap :0.5rem;
}
.nav-buttons{
  border: 2px solid rgb(255, 233, 233);
  color: rgb(255, 255, 255);
  padding : 12px;
  border-radius : 5px;
  background-color: inherit;
}
.nav-buttons:hover{
  background-color: rgb(56, 55, 55);
  border: none;
}
.btn-view:hover{
 background-color: yellowgreen;
 color : white;
}

footer{

  padding: 17px;
  font-size: larger;
  font-weight: bolder;
  width : 100%;
  background-color: rgb(156, 240, 117);
}


.btn{
  padding: 10px;
  margin : 5px;
  border : none;
  border-radius: 5px;
  cursor: pointer;
  font-size : 12px;
}
.btn-edit:hover{
  background-color: blueviolet;
}

.btn-delete:hover{
  background-color: crimson;
  color : white;
 }
 .childred{
  height : 90vh;
  margin : 1vh;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
 }

 .stu-com{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
 }
 
.stu-com2{
  background-color: rgb(228, 255, 174);
  border-radius : 30px;
  width : 280px;
  height : 280px
}

.tea-com{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
 }

 .tea-com2{
  background-color: rgb(106, 234, 134);
  border-radius : 30px;
  width : 280px;
  height : 280px
 }

.detail-card{
  background-color: rgb(176, 239, 213);
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.detail-continar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btn-detail{
  border-radius: 10px;
  color: rgb(86, 197, 216);
  background-color: green;
}
.title{
  background-color: rgb(125, 222, 28);
  color: #030303;
  font-size: 35px;
  font-weight: 500;
}


.text-areas{
  display: flex;
  flex-direction: column;
  gap : 0.5rem;
  margin : 10px;
}
.text-areas-t{
  display: flex;
  flex-direction: column;
  gap : 0.5rem;
  margin : 10px;
}

